@page "/dictionary"
@using OnlineCompiler.Shared
@inject HttpClient _http
@using Microsoft.AspNetCore.Components
@inject IStringLocalizer<Localization> _loc

<PageTitle>C#Core2.0</PageTitle>

<div class="container my-5">
    <div class="text-center">
        <h2>Словарь (Dictionary)</h2>
    </div>
    <p>Словарь (Dictionary) - это структура данных, которая представляет собой набор пар "ключ-значение". Ключи должны быть уникальными, а значения могут повторяться.</p>
    <p>Словари используются для хранения и быстрого доступа к данным, которые можно идентифицировать уникальным ключом.</p>

    <p>Вот визуальное представление внутренней структуры словар:</p>
    <img src="6.png" alt="Визуальное представление внутренней структуры словар">

    <h3>Основные операции со словарем</h3>
    <ul>
        <li>Add(key, value) - добавление новой пары "ключ-значение" в словарь</li>
        <li>Remove(key) - удаление пары "ключ-значение" из словаря по ключу</li>
        <li>ContainsKey(key) - проверка наличия ключа в словаре</li>
        <li>ContainsValue(value) - проверка наличия значения в словаре</li>
        <li>TryGetValue(key, out value) - получение значения по ключу. Если ключ не найден, возвращает false.</li>
        <li>Keys - получение коллекции ключей</li>
        <li>Values - получение коллекции значений</li>
    </ul>
</div>

@if (_userExecuted)
{
    <p>Код разработчиков:</p>
    <br/>
    <button class="btn btn-warning" @onclick="ToggleCode">@if (_showCode) {<text>Скрыть подсказку</text>} else {<text>Показать подсказку</text>}</button>
    if (_showCode)
    {
        <p></p>
        <CodeEditor @bind-Code="_innerCode">@TemplateDictionary.DictionaryCode</CodeEditor>
        <br/>
    }
}                                                                                                               

    <p></p>
<p>Пишите свой тут, методы, которые нуждаются в реализации помечены комментарием "Нужна реализация": </p>
<CodeEditor @bind-Code="_userInnerCode">@TemplateDictionary.UserDictionaryCode</CodeEditor>
<br />
<button class="btn btn-primary @(ExecuteButtonDisabled?"disabled":"")" @onclick="@(async () => { _userExecuted = true; await UserExecuteCode(); })">@_loc["Execute"]</button>

<br />
@if (_executionInfo != null)
{
    <text>&nbsp;</text>
    switch (_executionInfo.Status)
    {
        case ExecutionInfo.ExecutionStatus.Preparing:
            {
                <status-indicator pulse />
                <label>@_loc["Preparing"]</label>
                break;
            }
        case ExecutionInfo.ExecutionStatus.Compiling:
            {
                <status-indicator active />
                <label>@_loc["Compiling"]</label>
                break;
            }
        case ExecutionInfo.ExecutionStatus.CompilationError:
            {
                <status-indicator negative />
                <label>@_loc["CompilationError"]</label>
                break;
            }
        case ExecutionInfo.ExecutionStatus.Running:
            {
                <status-indicator active pulse />
                <label>@_loc["Running"]</label>
                break;
            }
        case ExecutionInfo.ExecutionStatus.Finished:
            {
                <status-indicator positive />
                <label>@_loc["Finished"]</label>
                break;
            }
    }
    <br />
    if (OutputSplitByNewLines != null)
    {
        @foreach (string line in OutputSplitByNewLines)
        {
            <p>@line</p>
        }
        <p>Время: @_executionInfo.CompilerTime мс</p>
    }
}

@code
{
    bool _showCode;

    void ToggleCode()
    {
        _showCode = !_showCode;
    }
    bool _userExecuted;
    private string? _innerCode;
    private string? _userInnerCode;

    private bool ExecuteButtonDisabled = false;
    
    /// <summary>
    /// Information about code execution operation
    /// </summary>
    private ExecutionInfo? _executionInfo;
    /// <summary>
    /// Output from ExecutionInfo, split by Environment.NewLine
    /// </summary>
    private IEnumerable<string>? OutputSplitByNewLines => _executionInfo?.Output.Split(Environment.NewLine);

    private async Task UserExecuteCode()
    {
        if (_userInnerCode != null && !ExecuteButtonDisabled)
        {
            ExecuteButtonDisabled = true;
            _executionInfo = new ExecutionInfo(ExecutionInfo.ExecutionStatus.Running, "");
            var userresponse = await _http.PostAsJsonAsync("Execution/Dictionary", value: _userInnerCode);
            ExecutionInfo? result = await userresponse.Content.ReadFromJsonAsync<ExecutionInfo>();
            _executionInfo = result;
            ExecuteButtonDisabled = false;
        }
    }
}

